*{ 
    margin: 0;
    padding: 0;
}
.header
{
    height: 425vh;
    width: 100%;
    background-image:linear-gradient(rgba(30, 38, 71, 0.7), rgba(29, 38, 73, 0.7)), url("../Images/products/Background.png");
    background-position: center;
    background-size: cover;
    position: relative;
}

/*EMOJI ON THE RIGHT SIDE OF NAV BAR*/
.emoji img
{
    height: 150px;
    width: 170px;
    float: right;
    margin-top:-8em;
    margin-right:20px;
    border-radius: 50%;
}

/*GRID BOX TO ARRANGE BOOKS*/ 
.container
{
    display: grid;
    width: 100%;
    height: 2200px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    position: absolute;
    margin-left:10px;
}

/*BOOKS IMAGE*/
.items
{
    margin-top: 6rem;
    margin-left: 7px;
    background-color: rgb(224, 218, 218);
    height: 325px;
    width: 230px;
    padding: 1%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.items img
{
    width: 100%;
    height: 260px;
    
}
.items:hover
{
    transform: scale(1.1);
    transition: 0.05s;
    color: darkgoldenrod;
    border-radius: 10px;
}
.items a :hover
{
    transform: scale(1);
}
/*DESCRIPTION OF BOOKS*/
.books
{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
}
/*GENRE NAME OF BOOKS*/
.header h1
{
    width: 100%;
    margin: px 0px 0px 0px;
    color: rgb(160, 252, 13);
    padding: 1%;
}
.genre1
{
    width: 170px;
    position: absolute; 
    top: 10em;
    margin: 20px 0px 0px 14px;
    font-size: 18px;
}
.genre2
{
    top: 39em;
    position: absolute;
    margin: 20px 0px 0px 14px;
}
.genre3
{
    top:67em;
    position: absolute;
    margin: 20px 0px 0px 14px;
}   
.genre4
{
    top:94em;
    position: absolute;
    margin: 20px 0px 0px 14px;
}
.genre5
{
    top:122em;
    position: absolute;
    margin: 20px 0px 0px 14px;
}



